:root {
  --primary-color: #b80257;
  --second-color: #783df0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input {
  color: inherit;
  font-size: inherit;
}

a {
  font-size: inherit;
  color: inherit;
}

/* --------header---------- */
.header {
  display: flex;
  width: 100%;
  height: 496px;
  background: url(../img/banner-2.jpg) no-repeat;
}

.header .inner {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper-header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: space-between;
}
.header-container {
  display: flex;
  flex-direction: column;
}
.nav-list {
  display: flex;
}
.nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px;
  margin-left: 30px;
  letter-spacing: 1.1;
}

.wrapper-action {
  display: flex;
  gap: 20px;
}
.wrapper-action button {
  font-size: 2rem;
  color: #fff;
}
.wrapper-breadcrumb {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  gap: 16px;
}

h1.heading {
  font-size: 3.2rem;
  font-weight: 700;
}
.breadcrumb {
  display: flex;
}
.breadcrumb {
  font-weight: 300;
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb li + li::before {
  content: "/";
  padding: 0 6px;
}

.main .inner {
  min-height: 100px;
  display: flex;
  padding-top: 110px;
}

.main-left {
  width: 270px;
  /* padding: 0 15px; */
}

.main-left .form-search {
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  height: 43px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #585454;
}

.form-search input {
  border: none;
  outline: none;
  padding-left: 20px;
  flex: 1;
}
.form-search button {
  padding: 0 20px;
  align-self: stretch;
}

.menu-title {
  margin-top: 32px;
  font-weight: 700;
}

.menu-sidebar {
  margin-top: 20px;
  border: 1px solid #00000019;
}

.sidebar-item {
  display: block;
  text-decoration: none;
  padding: 0 24px;
  color: #585454;
  line-height: 40px;
}
.menu-sidebar li + li {
  border-top: 1px solid #00000019;
}

.main-content {
  flex-grow: 1;
}
.topics {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.topics a {
  text-decoration: none;
  display: inline-block;
  height: 30px;
  padding: 0 14px;
  line-height: 30px;
}
.topics a:hover {
  border-radius: 15px;
  background-color: var(--second-color);
  color: #fff;
}
.active {
  border-radius: 15px;
  background-color: #783df0;
  color: #fff;
}

.course-list {
  margin-top: 70px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.course-item {
  width: calc(100% / 3 - 30px);
  min-height: 400px;
  /* background-color: orange; */
  border: 1px solid #0000000d;
}
.course-item .thumbnail {
  aspect-ratio: 1/0.8;
  display: block;
}
.course-item .thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.course-item .info {
  display: flex;
  padding: 20px;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
}
.info .desc {
  line-height: 22px;
}
.course-item .title {
  font-size: 1.8rem;
  font-weight: 700;
}
.course-item .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}
.btn {
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  min-width: 66px;
  line-height: 32px;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.btn-free {
  background-color: var(--second-color);
}
.btn-cost {
  background-color: var(--primary-color);
  font-weight: 700;
}
.btn-mail {
  background-color: var(--primary-color);
  width: 95px;
  height: 40px;
}

.course-pagination {
  display: flex;
  gap: 10px;
  margin: 78px 0 0 30px;
  padding-bottom: 106px;
}
.btn-page {
  color: #ccc;
  background-color: transparent;
  min-width: 29px;
  height: 29px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.btn-next {
  width: 58px;
  height: 29px;
  background-color: var(--second-color);
  color: #fff;
  border-radius: 8px;
}

.page-active {
  border-color: var(--second-color);
  color: var(--second-color);
}

.footer {
  background-color: #151515;
  padding: 80px 0 160px;
}
.footer .inner {
  display: flex;
  color: #ffffff99;
}
.footer-about {
  width: 270px;
}
.footer-about .logo {
  width: 165px;
}

.footer-about p {
  margin-top: 20px;
  line-height: 22px;
}
.footer-about .app {
  width: 118px;
  height: 38px;
  object-fit: cover;
  border-radius: 8px;
}

.footer .download-img {
  display: flex;
  gap: 26px;
  margin-top: 35px;
}
.footer-menu {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.footer .menu-title {
  margin-top: 15px;
  font-size: 2rem;
  color: #fff;
}
.footer-menu .menu-list {
  margin-top: 18px;
}
.footer-menu a {
  text-decoration: none;
  line-height: 30px;
}

.footer-sub {
  width: 280px;
}
.footer-sub span {
  display: block;
  margin-top: 26px;
}
.footer-mail {
  width: 100%;
  /* height: 40px; */
  background: #272727;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.footer-sub input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  height: 40px;
  padding: 0 20px;
}

/* ----------shop page------- */
.inner-shop {
  padding-top: 112px;
  display: flex;
  padding-bottom: 98px;
  gap: 30px;
}

.shop-left {
  width: 272px;
}

.search-form {
  display: flex;
  height: 45px;
  background-color: #eeeeee;
}
.search-form input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 20px;
  flex: 1;
}

.search-form button {
  width: 100px;
  background-color: var(--primary-color);
  color: #fff;
}
.shop-left h2 {
  margin-top: 64px;
  font-size: 2.4rem;
  font-weight: 700;
}
.categories-list {
  margin-top: 40px;
}
.categories-item {
  text-decoration: none;
  margin-top: 24px;
  display: block;
  color: #242222b3;
}
.popular-list {
  margin-top: 30px;
}

.popular-item {
  display: flex;
  text-decoration: none;
  font-size: 1.8rem;
}
.popular-item .thumb-pop {
  width: 100px;
  height: 75px;
  object-fit: cover;
}
.popular-item .content {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
}
.popular-item .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popular-item .content .cost {
  margin-top: 20px;
}
.popular-list li + li {
  margin-top: 30px;
}

.shop-main {
  flex: 1;
}
.filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6f6f6f;
  font-size: 1.8rem;
}

.filter-box .filter {
  display: flex;
  width: 200px;
  height: 45px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 0 20px;
}
.product-list {
  --colum: 3;
  --space: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space);
  margin-top: 65px;
  margin-left: calc(-1 * var(--space));
}
.product-item {
  width: calc(100% / var(--colum) - var(--space));
  border: 1px solid #ccc;
  margin-left: var(--space);
}

.product-item .img-thumb {
  aspect-ratio: 1/0.9;
  display: block;
}

.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item .info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  width: 100%;
  height: 180px;
}
.product-item .info .name {
  margin-top: 36px;
  /* font-size: 1.8rem; */
}
.product-item .info .cost {
  margin-top: 16px;
}
.btn-product {
  width: 130px;
  height: 40px;
  margin-top: 20px;
}

.shop-pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 12px;
}
.shop-pagination li:last-child {
  margin-left: 8px;
}
.btn-shoppage {
  min-width: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 45px;
  font-size: 2rem;
  font-weight: 300;
}

/* ----------index--------- */
.main-index {
  /* background-color: #783df0; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-index ul {
  display: flex;
  gap: 40px;
}
.main-index a {
  display: block;
  min-width: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: #783df0;
  color: #fff;
  font-size: 2rem;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
